<p>Bonjour {{ user.email.data }},</p>
<p>Vous avez demandé la suppression de votre compte, nous vous informons que votre compte
    est désormais supprimé.</p>
<p>Si vous n'êtes pas l'auteur de cette demande veuillez vous rapprochez de nos services.</p>
<p>Cordialement,<br />L'équipe MMA Baisieux</p>